<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Indkøbskurv</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<!-- MENU HTML -->
<div th:unless="${session.currentUser}">
    <script>
        window.location.href = '/';
    </script>
</div>
<div class="navigation">
    <div>
        <ul>
            <li><b>Olsker Cupcakes |</b></li>
            <li><a href="/">Forside</a></li>
            <li th:if="${session.currentUser}">
                <a href="/order">Bestil</a>
                <a href="/profile">Min Profil</a>
                <a href="/cart">Vis indkøbskurv</a>
            </li>
            <li th:unless="${session.currentUser}">
                <a href="/login">Bestil</a>
            </li>
            <li th:if="${session.currentUser != null and session.currentUser.administrator}">
                <a href="/admin">Admin</a></li>
        </ul>
    </div>
    <div th:if="${session.currentUser}">
        <span th:text ="${session.currentUser.username}"></span> |
        <a href="/logout">Log ud</a>
    </div>
    <div th:unless="${session.currentUser}">
        <a>Ikke logget ind -</a>
        <a href="/login">Log ind</a>
    </div>
</div>
<!-- MENU HTML -->

<hr>

<h1>Din indkøbskurv</h1>

<table border="1">
    <tr>
        <th>Cupcake Type</th>
        <th>Antal</th>
        <th>Pris</th>
        <th>Fjern</th>
    </tr>

    <tr th:each="OrderLine : ${orderLinesList}">
        <td th:text="${OrderLine.cupcakeName}">Cupcake Type</td>
        <td th:text="${OrderLine.amount}">1</td>
        <td th:text="${OrderLine.pricePer + ' kr.'}">0</td>
        <td th:text="${OrderLine.totalPrice + ' kr.'}">0</td>
        <td>
            <form action="/remove_from_cart" method="post">
                <input type="hidden" name="selectOrderLineId" th:value="${OrderLine.orderLineId}" />
                <button type="submit">Fjern</button>
            </form>
        </td>
    </tr>
</table>

<br>

<!-- Total -->
<p>
    <b>I alt:
        <span th:text="${totalPrice} + ' kr.'">0</span>
    </b>
</p>

<p th:if="${session.currentUser != null}">
    Kontosaldo:
    <span th:text="${userBalance} + ' kr.'">0</span>
</p>

<p th:if="${session.currentUser != null}">
    Saldo efter betaling:
    <span th:text="${newSaldo} + ' kr.'">0</span>
</p>

<br>

<form action="/checkout" method="post">
    <button type="submit">Betal med kontosaldo</button>
</form>

<form action="/order" method="get">
    <button type="submit">Fortsæt med at handle</button>
</form>

</body>
</html>