<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orderpage</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="navigation">
    <div>
        <ul>
            <li><b>Olsker Cupcakes |</b></li>
            <li><a href="index.html">Forside</a></li>
            <li><a href="order.html">Bestil</a></li>
            <li><a href="#">Min Profil</a></li>
            <li><a href="#">Admin</a></li>
        </ul>
    </div>
    <div th:if="${session.currentUser}">
        <a>Logget ind -</a>
        <a href="#">Log ud</a>
    </div>
    <div th:unless="${session.currentUser}">
        <a>Ikke logget ind -</a>
        <a href="#">Log ind</a>
    </div>
</div>
<hr>

<h1>Bestil cupcakes</h1>
<p>Vælg en bund og topping, angiv antal og læg i kurven.</p>
<hr>

<h2>Vælg bund</h2>
<div class="radio-bottoms">
    <input type="radio" id="vanilla" name="bottom" value="15">
    <label for="vanilla">Vanilje - 15kr</label>
    <br>
    <input type="radio" id="chocolate" name="bottom" value="15">
    <label for="chocolate">Chokolade - 15kr</label>
    <br>
    <input type="radio" id="lemon" name="bottom" value="18">
    <label for="lemon">Citron - 18kr</label>
</div>

<h2>Vælg topping</h2>
<div class="radio-tops">
    <input type="radio" id="Whipped" name="topping" value="10">
    <label for="whipped">Flødeskum - 10kr</label>
    <br>
    <input type="radio" id="strawberry" name="topping" value="12">
    <label for="strawberry">Jordbær - 12kr</label>
    <br>
    <input type="radio" id="lemontop" name="topping" value="10">
    <label for="lemontop">Citron - 10kr</label>
</div>

<br>
<label for="amount">Antal</label>
<input type="number" id="amount" name="quantity" value="1" min="1" max="99">
<button type="submit">Læg i kurv</button>

</body>
</html>