<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orderpage</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="navigation">
    <div>
        <ul>
            <li><b>Olsker Cupcakes |</b></li>
            <li><a href="/">Forside</a></li>
            <li><a href="order.html">Bestil</a></li>
            <li><a href="#">Min Profil</a></li>
            <li><a href="#">Admin</a></li>
        </ul>
    </div>
    <div th:if="${session.currentUser}">
        <a>Logget ind -</a>
        <a href="#">Log ud</a>
    </div>
    <div th:unless="${session.currentUser}">
        <a>Ikke logget ind -</a>
        <a href="#">Log ind</a>
    </div>
</div>
<hr>

<h1>Bestil cupcakes</h1>
<p>Vælg en bund og topping, angiv antal og læg i kurven.</p>
<hr>

<h3>Vælg Top</h3>
<div th:each="top : ${tops}">
    <input type="radio" name="topId" th:value="${top.topId}">
    <span th:text="${top.topName}"></span>
    <span th:text="${top.description}"></span>
    <span th:text="${top.price}"></span> kr
</div>

<h3>Vælg Bund</h3>
<div th:each="bottom : ${bottoms}">
    <input type="radio" name="bottomId" th:value="${bottom.bottomId}">
    <span th:text="${bottom.bottomName}"></span>
    <span th:text="${bottom.description}"></span>
    <span th:text="${bottom.price}"></span> kr
</div>

<br>
<form action="/cart">
<label for="amount">Antal</label>
<input type="number" id="amount" name="quantity" value="1" min="1" max="99">
<button type="submit">Læg i kurv</button>
</form>
</body>
</html>